<strong>PIZZA DON JUAN - Confirmação de Pedido!</strong>

<p>
  Olá <strong>{{ user }}</strong><br>
  Você fez um pedido em nossa pizzaria em <strong>{{ date }}</strong> às <strong>{{ hour }}</strong>.
</p>

